*{
    margin: 0em;
    padding: 0em;
    font-family: cursrobotoive;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../images/background.jpg');
    height: 100vh;
    background-repeat: inherit;
    background-size: cover;
    background-position: center;
}

.search{
    margin-top: 50%;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline;
    font-size: 25px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px,20px;
    border: 1px solid transparent;
    margin-left: 20px;
    transition: 0.6 ease;
}
ul li.active a{
   color: #000;
   background-color: #fff;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}

.logo img{
    float: left;
    width: 130px;
    margin-top: 10px;
    height: auto;
}

.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: #fff;
    font-size: 70px;

}
.title h3{
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.button{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
    font-size: 20px;
    margin-left: 30px;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}
h5{
    color: #fff;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}